.delivery{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px;
background:#111;
color:white;
}

.delivery-text{
max-width:450px;
}

.delivery-text h2{
font-size:36px;
}

.delivery-text p{
margin-top:15px;
color:#bbb;
}

.delivery-text button{
margin-top:20px;
padding:10px 20px;
border:none;
background:#ff7a1a;
color:white;
border-radius:6px;
}

.delivery-img{
width:350px;
border-radius:16px;
}